.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}


@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked,
.price span {
    color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart,
.like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: #b36800;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}





/* jbbhdxb
*/

.pro__single__content.tab-pane:not(.active) {
    display: none;
}

.product__small__images {
    bottom: 35px;
    display: flex;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.htc__product__details__tab__content {
    position: relative;
}
.product__small__images li {
    border: 1px solid #fff;
    margin: 0 8px;
    transition: all 0.4s ease 0s;
}
.product__small__images li.active {
    border: 1px solid #c43b68;
}
.product__small__images li:hover {
    border: 1px solid #c43b68;
}
.ht__product__dtl h2 {
    color: #444;
    font-family: Old Standard TT;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.ht__product__dtl h6 {
    color: #100d13;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 11px;
    margin-bottom: 11px;
}
.ht__product__dtl h6 span {
    color: #868686;
    font-family: 'Old Standard TT', serif;
    font-size: 15px;
    text-transform: uppercase;
}
.ht__product__dtl .pro__prize {
    justify-content: flex-start;
}
.ht__product__dtl p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
}
.sin__desc p {
    color: #868686;
    display: inline-block;
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}
.sin__desc p span {
    color: #100d13;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}
.pro__color {
    display: flex;
    margin-left: 10px;
}
.sin__desc.align--left {
    align-items: center;
    display: flex;
    margin-top: 21px;
}
.pro__color li a {
    background: #000 none repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    text-indent: -999999px;
    width: 20px;
}
.pro__color li + li {
    margin-left: 10px;
}
.pro__more__btn {
    margin-left: 10px;
}
.pro__more__btn a {
    border: 1px solid #d7d7d7;
    color: #212121;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 19px;
    padding: 0 8px;
    text-transform: uppercase;
}
.ht__pro__desc {
    margin-top: 25px;
}

.pro__cat__list {
    display: flex;
    margin-left: 10px;
}
.pro__share {
    display: flex;
    margin-top: 16px;
}

.pro__color li.red a {
    background: #003471 none repeat scroll 0 0;
}
.pro__color li.green a {
    background: #754c24 none repeat scroll 0 0;
}
.pro__color li.balck a {
    background: #100d13 none repeat scroll 0 0;
}
.pro__cat__list li a {
    color: #666666;
    font-size: 16px;
    transition: 0.3s;
}
.pro__cat__list li a:hover{
    color: #c43b68;
}
.pro__cat__list li + li {
    padding-left: 7px;
}
.pro__share li a {
    border-radius: 100%;
    color: #212121;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 36px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 32px;
}
.pro__share li a:hover {
    background: #c43b68 none repeat scroll 0 0;
    color: #fff;
}
.pro__share li + li {
    margin-left: 9px;
}
.sin__desc.product__share__link {
    margin-top: 18px;
}

.sin__desc.product__share__link {
    margin-top: 18px;
}
.pro__details__tab {
    align-items: center;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-bottom: 28px;
}
.pro__details__tab li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.pro__details__tab li a {
    color: #9f9f9f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.pro__details__tab li + li {
    border-left: 1px solid #e1e1e1;
}
.pro__details__tab li:last-child {
    border-right: 1px solid #e1e1e1;
}
.pro__details__tab li.active a {
    color: #333333;
}
.pro__details__tab li a:hover {
    color: #333333;
}
.pro__tab__content__inner p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
}
.pro__tab__content__inner h4.ht__pro__title {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 17px;
    margin-top: 30px;
    text-transform: capitalize;
}
.pro__tab__content__inner p + p {
    margin-top: 32px;
}
.ht__pro__details__content {
    padding-bottom: 90px;
}
select.select__size {
    border: 1px solid #afafaf;
    color: #afafaf;
    height: 20px;
    margin-left: 10px;
    width: 41px;
    padding: 0 4px;
}


